* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Topbar */
.topbar {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    width: 100%;
    padding: 0 20px;
    height: 60px;
    display: grid;
    grid-template-columns: 2fr 10fr 0.4fr 1fr;
    align-items: center;
    z-index: 1;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo h2 {
    padding: 15px;
    color: #299B63;
}

.search {
    position: relative;
    width: 20%;
    justify-self: right;
}

.search input {
    width: 100%;
    min-width: 128px;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #f5f5f5;
}

.search i {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.fa-bell {
    justify-self: right;
}

.user {
    position: relative;
    width: 50px;
    height: 50px;
    justify-self: right;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 60px;
    width: 260px;
    height: calc(100% - 60px);
    background: #299B63;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    width: 100%;
    list-style: none;
}

.sidebar ul li:hover {
    background: #fff;
}

.sidebar ul li:hover a {
    color: #299B63;
}

.sidebar ul li a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}

/* Main */
.main {
    position: absolute;
    top: 60px;
    width: calc(100% - 260px);
    min-height: calc(100vh - 60px);
    left: 260px;
    background: #f5f5f5;
}

.title {
    padding: 35px 20px;
    color: #299B63;
    margin-bottom: -20px;
}

.cards {
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cards .card {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cards .card:hover {
    background-color: #299B63;
    color: #fff;
}

.cards .card:hover .card-name, 
.cards .card:hover .number, 
.cards .card:hover .icon-box i {
    color: #fff; 
}

.number {
    font-size: 35px;
    font-weight: 500;
    color: #299B63;
}

.card-name {
    color: #888;
    font-weight: 600;
}

.icon-box i {
    font-size: 45px;
    color: #299b63;
}

/* Table Container */
.table-container {
    margin-top: 20px;
    padding: 0px 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

th, td {
    border: 1px solid #000;
    padding: 15px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    background-color: #f2f2f2;
}

.icon-container {
    position: absolute;
    top: -60px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.icon {
    position: relative;
    display: inline-block;
    margin: 1px;
}

.icon i {
    padding: 30px 20px;
    font-size: 20px;
    cursor: pointer;
}

i:hover {
    color: #007bff; 
}

.btn {
    margin-left: 20px;
    position: relative;
    margin-top: 20px;
    width: 15%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

/* Charts */
.charts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
    padding-top: 20px;
}

.chart {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    width: 100%;
}

.chart h2 {
    margin-bottom: 5px;
    font-size: 20px;
    color: #666;
    text-align: center;
}

/* Responsive Styles */

/* For medium screens */
@media (max-width: 1115px) {
    .sidebar {
        width: 60px;
    }
    .main {
        width: calc(100% - 60px);
        left: 60px;
    }
    .sidebar ul li a {
        text-align: center;
        padding: 0;
    }
    .sidebar ul li a div {
        display: none;
    }
}

/* For smaller screens */
@media (max-width: 880px) {
    .topbar {
        grid-template-columns: 1fr 5fr 0.4fr 1fr;
    }
    .fa-bell {
        justify-self: left;
    }
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .charts {
        grid-template-columns: 1fr;
    }
    .doughnut-chart {
        padding: 20px;
    }
    #doughnut {
        padding: 20px;
    }
}

/* For very small screens */
@media (max-width: 500px) {
    .topbar {
        grid-template-columns: 1fr 5fr 0.4fr 1fr;
    }
    .logo h2 {
        font-size: 20px;
    }
    .search {
        width: 80%;
    }
    .search input {
        padding: 0 20px;
    }
    .fa-bell {
        margin-right: 5px;
    }
    .cards {
        grid-template-columns: 1fr;
    }
    .doughnut-chart {
        padding: 10px;
    }
    #doughnut {
        padding: 0px;
    }
    .user {
        width: 40px;
        height: 40px;
    }
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .main {
        width: 100%;
        left: 0;
    }
    .sidebar ul {
        display: flex;
        justify-content: space-around;
    }
    .sidebar ul li a {
        padding: 20px;
    }
    .search {
        justify-self: center;
        width: 60%;
    }
}
